@tailwind base;
@tailwind components;
@tailwind utilities;

.fontborder {
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.specialborder {
  border-bottom-width: 2px;
  border-color: #b03d25;
}

.specialborder::before {
  content: ' ';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom: 2px solid #ffcf3f;
}

.gradientBrown {
  background: radial-gradient(circle, rgba(255, 207, 63, 1) 0%, rgba(176, 61, 37, 1) 100%);
  backdrop-filter: blur(10px);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: #1d1a1a;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
